.about-page {

	// background-color: $light-gray;

	padding-bottom: 6rem;
	
	.hero-section {
		color: $white;
		padding: 3rem 0 2rem;
		background-color: $black;
	}

	.hero-content {
		width: 80%;

		@media (min-width: 650px) {
			width: 60%;
		}

		@media (min-width: 1200px) {
			width: 40%;
			margin-left: 8em;
		}

	}
		.hero-background {
			transform: rotate(-180deg);

			path {
				fill: black;
			}

			@media (max-width: 286px) {
				position: relative;
				top: -7px;
			}
		}


	section {
		padding: 1em 0 0;
	}

	.background-text {
		width: auto;
		height: auto;
		line-height: 1;
		// bottom: 10%;
		// left: -1.27em;	
		opacity: 0.15;
		z-index: -1;
		overflow: hidden;
		position: fixed;
		display: inline-block;
		
		@extend %background-text;

		color: $black--40;
		font-weight: bold;
		font-family: $sans-serif;

		
		&:nth-child(odd){
			left: -1.0em;
			bottom: 2em;
			font-size: ms(20);
			transform: rotate(-90deg);
		}

		&:nth-child(even){
			right: -0.8em;
			top: 1.2em;
			font-size: ms(25);
			transform: rotate(-270deg);
		}


		@media (max-width: 650px) {
			display: none;
		}

	}

	.canvas-wrap {
		max-width: 100%;
		overflow: hidden;
		position: absolute;
	}

	canvas {
		display: block;
	}

}



// Settings for Canvas
	@media (max-width: 800px) {
		.wavejs {
			display: none;
		}
	}

	@media (min-width: 800px) {
		.hero-background {
			display: none;
		}

		.hero-section {
			// padding-bottom: 9rem;
		}
	}




.hero__entrevista {
	color: $black;
	padding: 0.5em 1em;
	font-weight: bold;
	background-color: $white;
}

.hero__title {
	font-size: ms(20);
	line-height: 100%;
	margin: 0.1em 0;
	
	@media (min-width: 700px) {
		font-size: ms(22);
	}
	@media (min-width: 810px) {
		font-size: ms(23);
	}
	@media (min-width: 950px) {
		// font-size: ms(25);
	}

}

.hero__description {
	opacity: 0.7;

	@media (min-width: 700px) {
		font-size: ms(5);
	}
}

.entrevista {
	// background-color: $white;

	@media (min-width: 650px) {
		margin-top: 2em;
	}
}

.entrevista__estatistica {
	margin-bottom: 3em;

	.data {
		font-size: ms(4);
		color: $black--40;
		font-weight: bold;
		margin-bottom: 0.3em;
	}

	.social-media-share__text {
		display: none;
	}
	@media (max-width: 649px) {
		
		.social-media-share :nth-child(2){
			margin-left: 0em;
			padding-left: 0;
		}
	}
	
	@media (min-width: 650px) {
		width: 10%;
		left: -40px;
		position: absolute;
		
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		
		.data {
			text-align: right
		}

		.social-media-share {
			display: flex;
			align-items: flex-end !important;
			flex-direction: column !important;

				&__icon {
					padding: 0.8em 0;
				}
		}
	}

	@media (min-width: 1200px) {
		left: 0;
	}

	@media (min-width: 1500px) {
		left: 50px;
	}
}

.entrevista__conteudo {
	width: 90%;
	
	h1 {
		font-size: ms(9);
		line-height: 1.2;
		font-family: $sans-serif;
		margin-bottom: 0.5em;
	}

	p {
		line-height: 1.6;

		@media (min-width: 600px) {
			font-size: ms(4);
		}
	}

	p + h1 {
		margin-top: 1.5em;
	}

	@media (min-width: 650px) {
		width: 80%;
		margin: 0 auto;
	}
	
	@media (min-width: 950px) {
		width: 70%;
		margin: 0 auto;
	}

	@media (min-width: 1200px) {
		width: 60%;
		margin: 0 auto;
	}

	@media (min-width: 1500px) {
		width: 55%;
		margin: 0 auto;
	}
}

.align-blockquote {
	display: flex;

	@media (min-width: 950px) {
		&:nth-child(odd){
			justify-content: flex-end;
		}

		&:nth-child(even){
			justify-content: flex-start;
		}
	}
}

.entrevista__blockquote {
	display: flex;
	margin: 3rem auto;
	color: $black--70;
	font-style: italic;
	font-family: $serif;
	font-weight: $fw-regular;

	@media (min-width: 950px) {
		width: 80%;
		margin: 3rem 0;
		font-size: ms(5);
	}

	@media (min-width: 1200px) {
		width: 65%;
	}
}

.entrevista__imagem {
	width: 100%;
	margin: 1em 0;	
	img {
		display: block;
		margin: 0 auto;

			min-width: auto;
			max-width: 100%;
		min-height: 200px;	
		max-height: 550px;
	}
}

#wavejs {
	max-width: 100%;
	min-width: 100%;
	// border-top: 50px solid black;
	overflow: hidden;	
	transform: rotateX(180deg);
	// max-height: 50px;
}