* {
	margin: 0;
	padding: 0;
}

body{
	background-color: $black;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.is-active,
.is-inactive, 
img {
	transition: 0.3s;
}

img {
	filter: brightness(60%);
	&:hover{
		filter: brightness(100%);
	}
}

section {
	color: $white;
	background-color: $black;
	padding-top: $section-padding;
	padding-bottom: $section-padding/2;
}













header {
	width:100%;
	height: auto;
	color: $white;
	background-color: $black;
	padding: 0;	
}


.menu {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
		flex: 0 0 auto;
		list-style: none;
			&:nth-child(2) {
				margin: 0 1em;
			}
		}

	}

.menu__logo {
	margin-left: 0; 
	margin-right: auto; /*applied only to the right*/
	& img {
		width: 9em;
		height: 6em;
		overflow: hidden;
		filter: brightness(100%);
	}
}

.menu__link {
	font-size: ms(3);
	font-family: $serif;
	
	@media (min-width: 550px) {
		font-size: ms(5);
	}

	a {
		text-decoration: none;
		color: $white;
	}

	&.is-inactive {
		opacity: $is-inactive;
		&:hover {
			opacity: $is-active;
			color:$white;
		}
	}
}


.grid {
	display: grid;
	grid-template-areas: 
		"secondary" 
		"primary";

	span {
		display: block;
		font-size: ms(0);
		font-family: $serif;
		font-weight: $fw-bold;
		text-transform: uppercase;
	}

	h3{
		font-weight: $fw-regular;
	}

	@media (min-width: 550px) {
		.grid__primary{
			margin: 10em 0;
		}

	}
}

.grid__secondary{
	margin-bottom: 74px;
}

#e, #i {
	position: relative;
}

#e {
	top: 0px;
}

#i {
	top: 17px;
	// margin-top: 2em;
	opacity: $is-inactive;
}

.grid--esquerda {
	.latin-word,
	.latin-date {
		text-align: left;
		@media (min-width: 550px) {
			text-align: center;
		}
	}
}

.grid--texto {
	.latin-word,
	.latin-date {
		text-align: right;
		@media (min-width: 550px) {
			text-align: center;
		}
	}
}

	// Reorganizar a posicao Latin-Word & Latin-Date
	// para dispositivos que nao suportan o GRID		
		@supports not (display: grid) {
			.grid--esquerda {

				.grid__primary {
					margin-left: 3em;

					.grid-foto, 
					.grid__foto--twin{
						margin-left: 5em;
					}
				}
				.latin-word,
				.latin-date {
					text-align: left;
				}
			}
			.grid--texto {
				.latin-word,
				.latin-date {
					text-align: right;
				}
			}

		}


// Seccao ou Parte para apresentacao
	.grid--esquerda {
		grid-gap: 2em;
			.grid__secondary {
				grid-area: "secondary";
				justify-self: start;
				font-weight: $fw-regular;
			}

			.grid__primary {
				grid-area: "primary";
			}

			@media (min-width: 550px) {
				// grid-template-columns: 2fr auto; 
				// grid-template-areas: "secondary primary";
				
				.grid__primary {
					// margin-right: auto;
					// margin-left: auto;
					text-align: center;

					h3{
						margin-left: auto;
						margin-right: auto;
						font-size: ms(10);
						@media (min-width: 1100px) {
							width: 80%;
							margin-top: -10%;
						}
					}
				}
			}
	}


.nested-grid{

	img {
		background-size: cover;
		width: 100%;
		height: 100%;
	}

}
	// Seccao ou Parte para apresentacao dos TEXTOS

	.grid--texto {
		grid-gap: 2em;
			.grid__secondary {
				grid-area: secondary;
				justify-self: end;
			}

			.grid__primary {
				gird-area: primary;
			}

			@media (min-width: 550px) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;

				.grid__primary {
					grid-column: 1/5;
					grid-row: 1/4;
				}

				.grid__secondary {
					grid-column: 5/6;
					grid-row: 1/4;

				}

		}


		// Grid para dispositivos que APENAS suportam CSS Grid
				@supports (display: grid) {
				  	.nested-grid {
						display: grid;
						grid-gap:5px;
						// grid-template-columns: 114px 113px;
						// Trabalhar com porcetagem permite 
						// maior flexibilidade para 
						grid-template-columns: 45% 45%;
						grid-template-rows: 17% 17% 17%;
						
						.grid__portrait {
							grid-column: 1/2;
							grid-row:1/3;
						}

						.grid__quote-creator {
							grid-column: 2/3;
							grid-row:1/2;
						}

						.grid__landscape {
							grid-column: 1/2;
							grid-row: 3/4;
						}

						.grid__illustrator {
							grid-column: 2/3;
							grid-row: 2/4;
						}
					}
					// Reajustar o GRID
					@media (min-width: 900px) {
						.nested-grid {
							// grid-template-columns: 304px 258px 345px;
							// grid-template-rows: 219.5px 219.5px;

							grid-template-columns: 33.33% 33.33% 33.33%;
							grid-template-rows: 170.5px 170.5px;

						.grid__portrait {
							grid-column: 1/2;
							grid-row:1/3;
						}

						.grid__quote-creator {
							grid-column: 2/3;
							grid-row:1/2;
							padding: 1em 1.4em;

							@media (min-width: 1200px) {
								padding: 1em 3em;
							}
						}

						.grid__landscape {
							grid-column: 2/3;
							grid-row: 2/3;
						}

						.grid__illustrator {
							grid-column: 3/4;
							grid-row: 1/3;

							@media (min-width: 1200px) {
								padding: 1em 0em;
							}
						}

							
						}
					}
					@media (min-width: 1024px) {
						.nested-grid{
							grid-template-rows: 209.5px 209.5px;
						}
					}

					@media (min-width: 1320px) {
						.nested-grid{
							grid-template-rows: 230.5px 230.5px;
						}
					}
				}
			// Dispositivos QUE NAO SUPORTAM
			@supports not (display: grid) {

				.nested-grid {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					> div {
						width: 50%;
						margin: auto;
						// height: 35%;
					}

					@media (min-width: 700px) {
						> div {
							width: 25%;
						}
					}

				}
			}
		
	}


.grid--esquerda--full-width{
	@media (min-width: 550px) {
		grid-template-columns: 2fr 7fr; 
	}
}



.grid-foto{
	// position: relative;
	position: relative;

}

.grid__foto{
	height: 170px;
	
	@media (min-width: 700px) {
		height: 245px;		
	}
	
	@media (min-width: 900px) {
		height: 270px;		
	}

	@media (min-width: 1100px) {
		height: 360px;		
	}
}

.grid__wrapper{
		z-index: 1;
		position: absolute;
		top: 7em;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;

		@media (min-width: 550px) {
			left: -9em;
			width: 90%;
			margin: 0 auto;
		}
		@media (min-width: 750px) {
			top: 5.5em;
		}

		@media (min-width: 1100px) {
			top: 3em;		
		}
		img{
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}


.grid__legenda{
	width: 40%;
	text-align: left;
	margin-left: auto;
	position: relative;
	z-index: 2;

	
	h2{
		font-size: ms(4);
	}
	p{
		font-size: ms(1);
		margin-top: 1.2em;
		@media (min-width: 900px) {
			font-size: ms(2);
			
		}	
	}
}

.grid__foto--left{
	height: 90px;
	margin-top: 0;

	@media (min-width: 550px) {
		height: 120px;
	}

	@media (min-width: 900px) {
		height: 160px;
	}
	
	@media (min-width: 1100px) {
		height: 200px;
	}

	@media (min-width: 1220px) {
		height: 250px;
	}

	@media (min-width: 1400px) {
		height: 310px;
	}

	.grid__wrapper {
		top: 0;
		right: 0;		
	}
}

.grid__legenda--left {
	width: 90%;
	top: 2em;
	margin-right: auto;
	margin-left: 0;
	left: 0em;

	@media (min-width: 550px) {
		top: 2em;
		left: -8em;
	}
}


.grid__foto--twin {
	margin: 2% 0 1%;

		@media (min-width: 550px) {
			// margin-right: 15%;
			// margin: 5% 0;
			left: -4.5em;
			position: relative;


			
		}
		@media (min-width: 1100px) {
				// height: 480px;
				// margin-left: 5%;
		}

		img {
			width: 47%;
			display: inline-block;
			margin: 0 0.8%;
			
			@media (min-width: 550px) {
				width: 44%;
			}
		}
}






























































































