
.text-page{ 
	background: $light-dark;
	
	@media (max-width: 679px) {

		.show-medium {
			// background-color: black;
			display: none;
		}
	}

	@media (min-width: 679px) {
		.show-small {
			// background-color: #fff;
			display: none;
		}

		.show-medium {
			// background-color: black;
		}
	}
}


.nota {
	color: $white;
	text-align: left;
	background-color: $black;
	padding: $section-padding+1 0 $section-padding+2;
	
	.nota__hero {

		.wrapper {
			height: 100%;
			margin: 0 auto;
			padding-left: 2em;
			// border-left: 8px solid $white;
			// border-bottom: 8px solid $white;
		}
		
		@media (min-width: 650px) {
			max-width: 70%;
		}
		@media (min-width: 900px) {
			max-width: 60%;
			padding: $section-padding;
		}

		@media (min-width: 1200px) {
			max-width: 50%;
		}
	}
}

.nota__titulo {
	font-size: ms(10);
	line-height: 1.2;
	padding-left: 1em;
	text-transform: capitalize;
	border-left: 8px solid $white;

}

.nota__descricao {
	opacity: 0.7;
	font-size: ms(4);
}


.nota__titulo,
.nota__descricao {
	@media (min-width: 900px) {
		max-width: 70%;
		// margin: 0 auto;
	}
}

.projecto-page {
	background-color: $light-dark;
}