.texto__hero {
	
	.wrapper {
		height: 330px;
		color: $white;
		margin: 0 auto;
		padding: 0.1em 1em;			  
		
		&.texto-with-image {
			@media(min-width: 550px){
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
				flex-direction: row;
			}
		}
	
		@media (max-width: 550px) {
			.left-side {
				display: none;
			}
		}

		@media (min-width: 550px) {
			max-width: 80%;
			height: 380px;
		}
	
		@media (min-width: 800px) {
			max-width: 70%;
		}

		@media (min-width: 1100px) {
			max-width: 60%;
		}

		@media (min-width: 1400px) {
			max-width: 45%;
		}
	}

	.nav-categoria {
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: ms(0);
		text-transform: capitalize;

		.icon {
			width: 20px;
			height: 20px;
		}

		.nav-categoria__left:hover{
			cursor: default;
		}
	}

	.nav-categoria--simple {
		padding: 0;
	}

	.nav-categoria__left,
	.nav-categoria__right--full-opacity {
		transition: 0.3s;
		opacity: $is-inactive;

		&:hover {
			opacity: 1;
		}
	}
	
}




.texto__content {
	width: 100%;
	background-color: $snow-flake;

	@media (min-width: 550px) {
		padding: $section-padding 0;
	}

	.texto__descricao-wrapper {
		width: 100%;
		@extend %container;
		
		margin-top: -1em;
		position: relative;
		background-color: $light-gray;

		// Definicoes para o primeiro Container
		// Porque o segundo container vai conter
		// Textos Relacionados e cada Card
		// Vai ter o seu proprio Box-Shadow e Background
		@include box-shadow(0px, 3px, 5px, rgba(0, 0, 0, 0.25), $inset: false);

		@media (min-width: 350px) {
			margin-top: -8em;
		}

		@media (min-width: 550px) {
			margin-top: -12em;
		}

	}


	
	// Definicoes para todos os container
	.container, 
	.texto__descricao-wrapper {

		@media (min-width: 550px) {
			max-width: 80%;
			padding: 0.1em 2em; 
			padding-bottom: $section-padding;
		}
	
		@media (min-width: 800px) {
			max-width: 70%;
		}

		@media (min-width: 1100px) {
			max-width: 60%;
		}

		@media (min-width: 1400px) {
			max-width: 45%;
		}
	}
}


.texto__image {
	z-index: 100;
	margin: auto;
	left: -2em;
	top: 2.5em;
	position: relative;


	img {
		min-width: auto;
			max-width: 100%;
		min-height: auto;
			max-height: 155px;	
		
		margin: auto;
		border: 1px solid;
		
		@media (min-width: 800px) {
			min-width: auto;
				max-width: 100%;
			min-height: 300px;
				max-height: 320px;			
		}
	}
}


.texto__titulo {
	color: $white;
	margin: 1em 0;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.5px;
	word-spacing: 3px;
	font-size: ms(10);
	text-transform: capitalize;
	
	&.texto-with-image {
		@media (min-width: 550px) {
			text-align: left;
		}
	}
}

	.texto__titulo--small {
		opacity: $is-inactive+-0.2;
	}

.texto__details {
	color: $white;

	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	flex-direction: row;
	
	font-size: ms(3);
	margin-bottom: 1em;
	font-family: $sans-serif;
	text-transform: capitalize;

	.texto__categoria, .texto__views {
		opacity: 0.8;
		margin-bottom: 1em;
		display: inline-flex;
	}

	.texto__categoria {
		margin-right: 2em;
		
		p {
			max-width: 99%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			border-bottom: 2px solid $snow-flake;
		}
	}

	.icon {
		width: 1em;
		margin-right: 4px;
		color: white;
	}
}

.texto__relacionados {
	opacity: 0.7;
	margin-top: 2em;
	margin-bottom: .8em;
	padding-bottom: 0.3em;
	border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}



.texto__descricao {
	margin-top: 2em;
	min-height: 200px;
	padding: 0.1em 0.9em;

	p {
		line-height: 1.6;
		margin: 1.3em 0;
	}

	blockquote {
		font-size: ms(5);
		font-family: $serif;

		&:before{
			background-color: $light-gray;
		}
	}

	@media (min-width: 550px) {
		padding: 0;
		&.texto-with-image {
			margin-top: 2em;
		}
	}

	@media (min-width: 800px) {
		&.texto-with-image {
			margin-top: 8em;
		}
	}
	
	@media (min-width: 700px) {
		font-size: ms(4);
	}
}

