@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700|Source+Sans+Pro:400,600);.c-quem-ela-era-quem-ela-foi {
  background: #ee9ca7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffdde1), to(#ee9ca7));
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.c-poesia-suja {
  background: #FF416C;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.c-o-que-o-tempo-nunca-disse {
  background: #a8ff78;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#78ffd6), to(#a8ff78));
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.c-carpe-diem {
  background: #CAC531;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#F3F9A7), to(#CAC531));
  background: linear-gradient(to right, #F3F9A7, #CAC531);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.c-uma-especie-de-autobiografia {
  background: #bdc3c7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
  border-radius: 0px;
  padding: 14px 36px;
  margin-bottom: 1em;
  display: inline-block;
  font-size: ms(5);
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  font-family: Source Sans Pro, sans-serif;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.button.primary {
  color: #000000;
  border: 2px solid #000000;
  -webkit-box-shadow: inset 0 0 0 0 #000000;
          box-shadow: inset 0 0 0 0 #000000;
}

.button.primary:hover {
  color: #fff;
  -webkit-box-shadow: inset 400px 0 0 0 #000000;
          box-shadow: inset 400px 0 0 0 #000000;
}

.button.secondary {
  color: #fff;
  border: 2px solid #fff;
}

.button.secondary:hover {
  color: #000000;
  -webkit-box-shadow: inset 400px 0 0 0 #fff;
          box-shadow: inset 400px 0 0 0 #fff;
}

.button--cta {
  opacity: 0.8;
  color: #000000;
  border: 2px solid #67DDD1;
  background-color: #67DDD1;
  -webkit-box-shadow: inset 0 0 0 0 #67DDD1;
          box-shadow: inset 0 0 0 0 #67DDD1;
}

.button--cta:hover {
  opacity: 1;
  color: #000000;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  margin: 0;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex .align-center {
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.flex .align-left {
  margin-right: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.flex .align-right {
  margin-left: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.flex .align-x-center {
  margin-right: auto;
  margin-left: auto;
}

.flex .align-x-left {
  margin-right: auto;
}

.flex .align-x-right {
  margin-left: auto;
}

.flex .align-y-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.flex .align-y-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flex .align-y-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.pushbar.opened {
  display: block;
}

html.pushbar_locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.pushbar {
  z-index: 1000;
  position: fixed;
  will-change: transform;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
}

.pushbar_overlay {
  z-index: -999;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  will-change: opacity;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  will-change: opacity;
  background: #000000;
}

html.pushbar_locked .pushbar_overlay {
  opacity: 0.8;
  z-index: 999;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.pushbar.from_left {
  top: 0;
  left: 0;
  width: 256px;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-transform: translateZ(0) translateX(-100%);
          transform: translateZ(0) translateX(-100%);
}

@media (min-width: 450px) {
  .pushbar.from_left {
    width: 310px;
  }
}

.pushbar.from_right {
  top: 0;
  right: 0;
  width: 256px;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-transform: translateZ(0) translateX(100%);
          transform: translateZ(0) translateX(100%);
}

.pushbar.from_top {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  -webkit-transform: translateZ(0) translateY(-100%);
          transform: translateZ(0) translateY(-100%);
}

.pushbar.from_bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  -webkit-transform: translateZ(0) translateY(100%);
          transform: translateZ(0) translateY(100%);
}

.pushbar.opened {
  -webkit-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
}

header {
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #000000;
  padding: 2em 0;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  list-style: none;
}

.menu__logo {
  margin-left: 0;
  margin-right: auto;
  /*applied only to the right*/
}

.menu__logo img {
  overflow: hidden;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.menu__link {
  color: #fff;
  font-size: 1.02487em;
  font-family: Source Sans Pro, sans-serif;
  letter-spacing: 0.2px;
  margin: 0 0.7em;
}

@media (min-width: 550px) {
  .menu__link {
    font-size: 1.127357em;
  }
}

.menu__link a {
  text-decoration: none;
}

.menu__link.is-inactive {
  opacity: 0.5;
}

.menu__link.is-inactive:hover {
  opacity: 1;
  color: #fff;
}

.menu__button {
  color: #67DDD1;
  padding: 0.5em 0.9em;
  border: 2px solid #67DDD1;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.menu__button.is-active {
  -webkit-box-shadow: inset 400px 0 0 0 #67DDD1;
          box-shadow: inset 400px 0 0 0 #67DDD1;
}

.menu__button:hover {
  color: #000000;
  -webkit-box-shadow: inset 400px 0 0 0 #67DDD1;
          box-shadow: inset 400px 0 0 0 #67DDD1;
}

footer {
  background-color: #000000;
  padding: 6rem 0;
}

.footer__wrapper {
  color: #fff;
}

.footer__word {
  opacity: 0.5;
  text-align: center;
}

.footer__word a {
  color: #fff;
  padding-bottom: 1px;
  border-bottom: 0.5px solid #fff;
}

.footer__social-icons {
  padding: 2em 0;
}

.footer__social-icons:hover a {
  opacity: 0.5;
}

.footer__social-icons a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 0.5em;
  opacity: 0.7;
}

.footer__social-icons a:hover {
  opacity: 1;
}

.footer__social-icons a img {
  width: 1.5em;
  height: 1.5em;
}

.footer__wrapper--desktop .site-logo--footer {
  width: 10em;
  height: auto;
}

.footer__wrapper--desktop .footer__word {
  text-align: left;
}

.footer__wrapper--desktop .footer__word--dmca {
  margin-top: 1em;
}

.footer__wrapper--desktop .footer__left-block,
.footer__wrapper--desktop .footer__right-block {
  margin-top: 2em;
}

.footer__wrapper--desktop .footer__left-block {
  width: 50%;
}

.footer__wrapper--desktop .footer__social-midia {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__wrapper--desktop .social-midia__block {
  width: 35%;
  padding: 0 0.3em;
  margin: 0.5em 0.5em;
  display: inline-block;
}

.footer__wrapper--desktop .social-midia__icon,
.footer__wrapper--desktop .social-midia__nome {
  vertical-align: middle;
  display: inline-block;
  color: #eaeaea;
  opacity: 0.8;
}

.footer__wrapper--desktop .social-midia__icon {
  width: 1.5em;
  height: auto;
}

.footer__wrapper--desktop .social-midia__nome {
  margin-left: 0.5em;
  letter-spacing: 0.3px;
  font-size: 1.127357em;
  font-weight: 600;
  font-family: Source Sans Pro, sans-serif;
}

.footer__wrapper--desktop .social-midia__link {
  opacity: 0.5;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 2.35em;
}

.footer__wrapper--desktop .social-midia__link:hover {
  opacity: 1;
}

@media (max-width: 659px) {
  .footer-desktop {
    display: none;
  }
}

@media (min-width: 659px) {
  .footer-mobile {
    display: none;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  margin: 0;
  -webkit-box-sizing: border-box;
  /* For legacy WebKit based browsers */
  /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

.nav-categoria {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  font-family: Source Sans Pro, sans-serif;
}

.nav-categoria:hover {
  opacity: 1;
}

.nav-categoria .icon {
  width: 26px;
  height: 26px;
}

.nav-categoria__left {
  width: 60%;
  cursor: pointer;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-categoria__left:active {
  opacity: 1;
}

.nav-categoria__left > *,
.nav-categoria__right > * {
  display: inline;
  vertical-align: middle;
}

.nav-categoria__nome {
  letter-spacing: 1px;
  margin-left: 0.5em;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
}

.nav-categoria--simple {
  padding: 2rem 0;
}

.nav-categoria--double-padding {
  padding: 2rem 0;
}

.side-nav {
  color: #fff;
  padding: 1em 1em;
  padding-top: 2em;
  background: #212124;
}

.side-nav .icon-x {
  width: 1.3em;
  height: 1.3em;
}

.side-nav__header > *,
.side-nav__section span {
  display: inline-block;
  vertical-align: middle;
}

.side-nav__section {
  margin-bottom: 3rem;
}

.side-nav__section img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.side-nav__header {
  margin-bottom: 2em;
  height: 6em;
}

.side-nav__titulo {
  font-size: 1.127357em;
  margin-bottom: 1em;
}

.side-nav__link {
  margin-left: 1em;
  font-size: 0.9317em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: capitalize;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texto-categoria {
  width: 100%;
  display: block;
  margin-top: 0.7em;
}

.texto-categoria:hover .side-nav__link {
  opacity: 0.5;
}

.texto-categoria__cor {
  width: 23px;
  height: 23px;
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.texto-categoria__midia img {
  width: 23px;
}

.grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  padding-top: 0;
}

.grid-card .animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.grid-card__card {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  white-space: wrap;
  text-overflow: fade;
  background-color: #f7f7f7;
}

.grid-card__card .wrapper {
  width: auto;
  font-weight: normal;
}

@media (min-width: 768px) {
  .grid-card__card {
    width: 32%;
  }
}

.grid-card--projecto img {
  width: 100%;
  height: 100%;
}

.grid-card--texto {
  height: 360px;
  margin-bottom: 1em;
}

.grid-card--texto:hover {
  background-color: #eaeaea;
}

.grid-card--texto .wrapper {
  height: 150px;
  max-height: 240px;
  padding: 1em;
}

@media (min-width: 400px) {
  .grid-card--texto .wrapper {
    padding: 1.7em;
  }
}

@media (min-width: 650px) {
  .grid-card--texto {
    width: 48.7%;
    margin-bottom: 2.6%;
  }

  .grid-card--texto:nth-child(odd) {
    margin-right: 1.3%;
  }

  .grid-card--texto:nth-child(even) {
    margin-left: 1.3%;
  }
}

@media (min-width: 1220px) {
  .grid-card--texto {
    width: 32.466%;
    margin-bottom: 1.3%;
  }

  .grid-card--texto:nth-child(1n),
  .grid-card--texto:nth-child(3n) {
    margin-right: 0;
    margin-left: 0;
  }

  .grid-card--texto:nth-child(3n-1) {
    margin-right: 1.3%;
    margin-left: 1.3%;
  }
}

.grid-card--texto-small {
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.grid-card--texto-small:hover {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.grid-card--texto-small .wrapper {
  padding: 1em;
}

@media (min-width: 400px) {
  .grid-card--texto-small .wrapper {
    padding: 1.7em;
  }
}

@media (min-width: 650px) {
  .grid-card--texto-small {
    width: 49%;
    margin-bottom: 2.1%;
  }

  .grid-card--texto-small:nth-child(odd) {
    margin-right: 1%;
  }

  .grid-card--texto-small:nth-child(even) {
    margin-left: 1%;
  }
}

.grid-card--texto-small .grid-card__titulo {
  max-height: 5.7em;
  font-size: 1.127357em;
  margin-bottom: 0em;
}

.grid-card__frame-top {
  margin-bottom: 1.6em;
}

.grid-card__frame-top span {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.view-count,
.grid-card__descricao {
  font-size: 1.02487em;
}

.view-count {
  font-family: Alegreya, serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.grid-card__titulo {
  padding-bottom: 5px;
  font-size: 2.41658985em;
  line-height: 1;
  text-transform: capitalize;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.grid-card__descricao {
  max-height: 180px;
  margin-top: 1em;
  opacity: 0.8;
  line-height: 1.35;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

@media (min-width: 650px) {
  .grid-card__descricao {
    max-height: 130px;
  }
}

@media (min-width: 900px) {
  .grid-card__descricao {
    max-height: 180px;
  }
}

.grid-card__mask {
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #f7f7f7), to(transparent));
  -webkit-mask-image: linear-gradient(180deg, #f7f7f7 60%, transparent);
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #f7f7f7), to(transparent));
  mask-image: linear-gradient(180deg, #f7f7f7 60%, transparent);
}

.album {
  color: #fff;
  margin: 0 auto;
}

.album .middot-spacer {
  margin: 0 1em;
}

.album__hero {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  height: 30em;
  text-shadow: 0 1px 1px #000;
}

@media (min-width: 650px) {
  .album__hero {
    height: 35em;
  }
}

.album__hero .container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 650px) {
  .album__hero .container {
    width: 70%;
  }
}

@media (min-width: 1100px) {
  .album__hero .container {
    width: 60%;
  }
}

.album__titulo {
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1em;
  text-transform: capitalize;
}

@media (min-width: 1200px) {
  .album__titulo {
    font-size: 2.92407372em;
  }
}

.album__descricao {
  text-align: center;
}

.album__detalhe {
  margin-top: 2em;
}

.album__detalhe .icon {
  with: 18px;
  height: 18px;
  margin-right: 0.5em;
}

#justified-grid {
  padding-bottom: 3rem;
}

@media (min-width: 550px) {
  #justified-grid img {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }

  #justified-grid img:hover {
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
}

.pagination {
  color: #fff;
  font-size: 1.50051217em;
  font-weight: bold;
  font-family: Source Sans Pro, sans-serif;
  padding-bottom: 2em;
}

.pagination li {
  display: inline-block;
}

@media (min-width: 320px) {
  .pagination a,
  .pagination .active {
    padding: 0 0.1em;
  }
}

@media (min-width: 500px) {
  .pagination a,
  .pagination .active {
    padding: 0 0.2em;
  }
}

.pagination a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
}

.pagination a:hover {
  opacity: 1;
}

.pagination .icon:nth-child(odd) {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.pagination img {
  width: 10px;
}

.pagination .active {
  padding-bottom: 0.18em;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

.landing-page {
  color: #000000;
  background-color: #fff !important;
}

.latin {
  width: 190px;
  color: #000000;
  text-align: left;
  font-weight: bold;
  font-size: 0.77em;
  font-family: Alegreya, serif;
  position: absolute;
}

.latin .latin-word {
  color: #5c5c5c;
}

.latin .latin-date {
  font-weight: 400;
  color: #8b8b8b;
}

.latin span {
  display: block;
}

@media (min-width: 550px) {
  .latin {
    text-align: center;
  }
}

.latin--left {
  left: 0;
}

.latin--right {
  right: 0;
}

@media (max-width: 550px) {
  .latin--right {
    left: 0;
  }
}

.banner {
  color: #000000;
  width: 70%;
  text-align: left;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .banner .above-the-fold {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    margin-top: 5em;
    padding-left: 1em;
  }

  .banner .above-the-fold h1 {
    font-size: 1.36410197em;
    text-align: justify;
  }
}

@media (min-width: 550px) {
  .banner .above-the-fold h1 {
    font-size: 1.99718169em;
    text-align: center;
    line-height: 1.3;
  }
}

@media (min-width: 550px) {
  .banner {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}

.banner .button {
  margin-top: 2em;
}

.bg {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  background: url(/images/topography-bg.svg?888f76e238becda07b540ea8563191cf) no-repeat center center;
  background-size: cover;
}

@media (min-width: 600px) {
  .bg {
    background: url(/images/topography-bg--768.svg?c10c6c7b0f15e8b9b54e978e78e3f443) no-repeat center center;
  }
}

@media (min-width: 770px) {
  .bg {
    background: url(/images/topography-bg--1440.svg?ea2d0057fdd5cf0ee28ca1a7e05c2709) no-repeat center center;
  }
}

@media (min-width: 1441px) {
  .bg {
    background: url(/images/topography-bg--superwide.svg?86f49cf13c061ed391448a199d596525) no-repeat center center;
  }
}

.titulo-head {
  color: #000000;
  font-weight: 400;
  text-align: center;
  font-size: 2.41658985em;
  font-family: Alegreya, serif;
  text-transform: capitalize;
  left: 0;
  right: 0;
  margin-top: 1em;
  margin-bottom: 110px;
  line-height: 1.1;
  position: relative;
}

.titulo-head:before {
  content: '';
  width: 1px;
  height: 50px;
  right: 50%;
  left: 50%;
  top: 55px;
  margin: 0 auto;
  opacity: 0.5;
  position: absolute;
  background-color: #000000;
}

@media (min-width: 650px) {
  .titulo-head:before {
    top: 67px;
  }
}

.coisas-existentes {
  background-color: #F9FBF9;
}

.coisas-existentes__blocks {
  color: #000000;
  margin-top: 12em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

@media (min-width: 650px) {
  .coisas-existentes__blocks {
    margin-top: 16em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 950px) {
  .coisas-existentes__blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.coisas-existentes__blocks img {
  width: 3em;
  height: auto;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.coisas-existentes__blocks .block {
  width: 100%;
  position: relative;
  margin-bottom: 7em;
  padding: 0.7em 2em;
}

@media (min-width: 650px) {
  .coisas-existentes__blocks .block {
    width: 27%;
  }

  .coisas-existentes__blocks .block:nth-child(odd) {
    margin-right: 1.5%;
  }

  .coisas-existentes__blocks .block:nth-child(even) {
    margin-left: 1.5%;
  }
}

@media (min-width: 950px) {
  .coisas-existentes__blocks .block {
    width: 25.3%;
  }

  .coisas-existentes__blocks .block:nth-child(odd) {
    margin-right: 0%;
  }

  .coisas-existentes__blocks .block:nth-child(even) {
    margin-left: 0%;
  }
}

.coisas-existentes__blocks .block__titulo {
  color: #5c5c5c;
  font-family: Source Sans Pro, sans-serif;
}

.coisas-existentes__blocks .block__descricao {
  margin-top: 5px;
  color: #5c5c5c;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media (min-width: 500px) and (max-width: 649px) {
  .coisas-existentes__blocks .block__descricao {
    padding-right: 30%;
  }
}

.coisas-existentes__blocks .block__bold {
  top: -0.8em;
  left: -0.2em;
  opacity: 0.2;
  z-index: 0;
  color: #67DDD1;
  font-size: 16.25760809em;
  font-weight: bold;
  letter-spacing: -17px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
}

@media (max-width: 650px) {
  .coisas-existentes__blocks .block__bold {
    left: -0.28em;
  }
}

@media (min-width: 650px) {
  .coisas-existentes__blocks .block__bold {
    font-size: 19.67170579em;
    left: -.2em;
  }
}

.banner {
  margin-top: 2em;
}

.photocollage {
  height: 320px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(/images/photocollage-bg.png?1123fdbab43ae0c19ea15107452c12a2) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/photocollage-bg.png?1123fdbab43ae0c19ea15107452c12a2) no-repeat center center;
  background-size: cover;
}

.photocollage h1 {
  text-shadow: 0 1px 1px #000000;
  color: #fff;
}

.photocollage h1:before {
  background-color: #fff;
  opacity: 1;
}

@media (min-width: 400px) {
  .photocollage {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(/images/photocollage-bg--768.png?0e34f6b71de416053a0922c73a3e46da) no-repeat center center;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/photocollage-bg--768.png?0e34f6b71de416053a0922c73a3e46da) no-repeat center center;
  }
}

@media (min-width: 769px) {
  .photocollage {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(/images/photocollage-bg--1200.png?72175cad296612793256e1616b56e9e5) no-repeat center center;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/photocollage-bg--1200.png?72175cad296612793256e1616b56e9e5) no-repeat center center;
  }
}

@media (min-width: 1201px) {
  .photocollage {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(/images/photocollage-bg--superwide.png?3b6de71450a5e68bc74ab1a96f4f944a) no-repeat center center;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/photocollage-bg--superwide.png?3b6de71450a5e68bc74ab1a96f4f944a) no-repeat center center;
  }
}

.photocollage .button:nth-child(odd) {
  margin-right: 5px;
}

