// Modules
@import 'modules/all';

// Vendor
@import 'vendor/all';

// Partials
@import 'partials/all';

// Pages
@import 'pages/all';
 







* {
	margin: 0;
	padding: 0;
}


body{
  	line-height: 1.4;
 	color: $black;
	font-size: 16px;
	font-family: $sans-serif;
	background-color: $white;
}


p {
	font-weight: $fw-regular;
	font-family: $sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: $serif;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.middot-spacer {
	margin: 0 1em;
}


.container {
	@extend %container;
}



.is-active,
.is-inactive, 
img {
	transition: 0.3s;
}



section {
	padding-top: $section-padding;
	padding-bottom: $section-padding/2;
}


.site-logo {
	width: 9em;
	height: auto;
	filter: brightness(100%);

	@media (min-width: 550px) {
		width: 10em;
	}
}

.site-logo--side-nav {
	width: 4em;
	height: auto;
	// margin-right: 1.5em;
}

.site-logo--footer {
	width: 50px;
	height: auto;
	// margin-bottom: 2em;
}



