// Modules
@import 'modules/all';

// Vendor
@import 'vendor/all';

// Partials
@import 'partials/all';









.landing-page { 
	color: $black;
	background-color: $white !important;
}



.latin {
	width: 190px;
	color: $black;

	text-align: left;
	font-weight: bold;
	font-size: ms(0);
	font-family: $serif;
	
	position: absolute;

	.latin-word {
		opacity: 0.7;
	}

	span {
		display: block;
	}

	@media (min-width: 550px) {
		text-align: center;
	}
}



.latin--left {
	left: 0;
}

.latin--right {
	right: 0;
	@media (max-width: 550px) {
		left: 0;
	}
}

.banner {
	color: $black;
	width: 70%;
	text-align: left;
	margin: 0 auto;
	
	.above-the-fold {
		
		h1 {
			// opacity: 0.8;
		}
		
		@media (max-width: 550px) {
			hyphens: auto;
			margin-top: 5em;

			h1 {
				font-size: ms(6);
				text-align: justify;
			}
			padding-left: 1em;
		}

		@media (min-width: 550px) {

			h1 {
				font-size: ms(10);
				text-align: center;
				line-height: 1.3;
			}
		}
	}

	@media (min-width: 550px) {
		padding-top: 3rem;
		padding-bottom: 1.5rem;
	}

	.button {
		margin-top: 2em;
	}
}

.bg {
	padding-top: 3rem;
		padding-bottom: 4.5rem;
	background: url('../img/topography-bg.svg') no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	  // background-position: 50px 1150px 700px;
	  // background-position: right 10em bottom 3em;

	  @media (min-width: 600px) {
	  	background: url('../img/topography-bg--768.svg') no-repeat center center; 
	  }

	  @media (min-width: 770px) {
	  	background: url('../img/topography-bg--1440.svg') no-repeat center center; 
	  }

	  @media (min-width: 1441px) {
	  	background: url('../img/topography-bg--superwide.svg') no-repeat center center; 
	  }
}




.titulo-head {
	color: $black;
	
	font-weight: 400;
	text-align: center;
	font-size: ms(12);
	font-family: $serif;
	text-transform: capitalize;
	
	left: 0;
	right: 0;
	margin-top: 1em;
	// Compensacao para a margin-bottom
	// do pseudo-selector BEFORE
	margin-bottom: 110px; 
	line-height: 1.1;
	position: relative;

	&:before{
		content: '';
		width: 1px;
		height: 50px;
		
		right: 50%;
		left: 50%;
		top: 55px;
		margin: 0 auto;

		opacity: 0.5;
		position: absolute;
		background-color: $black;

		@media (min-width: 650px) {
			top: 67px;
		}
	}
}

.coisas-existentes {
	background-color: #F9FBF9;

	.coisas-existentes__wrapper {
		// margin-top: 2em;
	}
}

.coisas-existentes__blocks {
	// margin-top:em;
	color: $black;
	margin-top: 10em;
	flex-wrap: wrap;	
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	
	@media (min-width: 650px) {
		margin-top: 12em;
		justify-content: center;
	}
	
	@media (min-width: 950px) {
		justify-content: center;
	}


	img {
		width: 3em;
		height: auto;
		filter: brightness(100%);
	}

	.block {
		width: 100%;
		position: relative;
		margin-bottom: 6em;
		padding: 0.7em 2em;

		@media (min-width: 650px) {
			width: 38%;
			
			&:nth-child(odd) {
				margin-right: 1.5%;
			}

			&:nth-child(even) {
				margin-left: 1.5%;
			}
		}

		@media (min-width: 950px) {
			width: 25.3%;

			&:nth-child(odd) {
				margin-right: 0%;
			}

			&:nth-child(even) {
				margin-left: 0%;
			}
		}
	}

		.block__titulo {
			opacity: 0.7;
			margin-top: 1em;
			font-family: $sans-serif;
		}

		.block__descricao {
			margin-top: 5px;
			opacity: 0.6;
			text-align: justify;
			hyphens: auto;

			@media (min-width: 500px) and (max-width: 649px) {
				padding-right: 30%;
			}
		} 

		.block__bold {
			top: -0.7em;
			left: -0.2em;
			opacity: 0.2;
			z-index: 0;
			font-size: ms(30);
			position: absolute;
			color: #67DDD1;

			@media (max-width: 650px) {
				left: -0.28em;
			}

			@media (min-width: 650px) {
				// top: -0.8em;
				left: 0em;
			}


		}

}



.banner {
	margin-top: 2em;	
}


.photocollage {
	height: 320px;
	h1 {
		text-shadow: 0 1px 1px #000;
		color: $white;

		&:before {
			background-color: $white;
			opacity: 1;
		}
	}
	
	background:  linear-gradient(
				      rgba(0, 0, 0, 0.55),
				      rgba(0, 0, 0, 0.55)
				    ), url('../img/photocollage-bg.png') no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover; 
	  background-size: cover;
	
	@media (min-width: 400px) {
		background: linear-gradient(
				      rgba(0, 0, 0, 0.55),
				      rgba(0, 0, 0, 0.55)
				    ), url('../img/photocollage-bg--768.png') no-repeat center center;
	}
	
	@media (min-width: 769px) {
		background:  linear-gradient(
				      rgba(0, 0, 0, 0.55),
				      rgba(0, 0, 0, 0.55)
				    ), url('../img/photocollage-bg--1200.png') no-repeat center center;
	}
	
	@media (min-width: 1201px) {
		background:  linear-gradient(
				      rgba(0, 0, 0, 0.55),
				      rgba(0, 0, 0, 0.55)
				    ),  url('../img/photocollage-bg--superwide.png') no-repeat center center;
	}

	.button {
		
		
		// display: block;
		// background-color: $black;

		&:nth-child(odd) {
			margin-right: 5px;
		}
	}
}

