$black: #000000;
	$light-dark: #212124;
	$black--70: #5c5c5c;
	$black--40: #8b8b8b;
$white: #fff;
	$light-gray: #f7f7f7;
	$snow-flake: #eaeaea; 

$acent: #67DDD1;
	$acent-shade: #F9FBF9;



// https://coolors.co/000000-212124-ffffff-fafafa-e8c547
