%container {
	width: 90%;
	margin: 0 auto;
	position:relative;
	
	@media (min-width: 550px) {
		width: 80%;		
	}

	@media (min-width: 1440px) {
		width: 70%;
	}
}


%background-text {
	cursor: default;
	user-select: none; 
}