

.foto-page {
	// padding: 0;
	// background-color: $snow-flake;
	background-color: $light-dark;
}

.foto {
	.nav-categoria {
		padding: 2em 0;
		// padding: $section-padding+-1 0;

		// font-size: ms(0);
		text-transform: capitalize;
	}
	
}

.foto__hero {
	margin: auto;
	background-color: $light-dark;
	padding-bottom: $section-padding;
		
	img {
		margin: 0 auto;
			min-width: auto;
			max-width: 100%;
		min-height: 200px;	
		max-height: 550px;
	}


		@media (min-width: 550px) {
			max-width: 80%;
		}

		@media (min-width: 900px) {
			max-width: 60%;
		}
	
}






.foto__content {
	background-color: $light-gray;
	padding: $section-padding+-1 0;

	.container {
		width: 90%;
		
		@media (min-width: 550px) {
			max-width: 80%;
			// padding: $section-padding;
		}

		@media (min-width: 900px) {
			max-width: 55%;
			padding-bottom: $section-padding;
		}
	}
}







.foto__album {
	max-width: 100%;
	margin: 1em 0 3em;
	font-family: $sans-serif;
	
	
	span{
		display: block;
		font-weight: $fw-bold;

		@media (min-width: 550px) {
			display: inline-block;
		}
	}

	.foto__album-link,
	span {
		transition: 0.3s;
		opacity: $is-inactive;
	}

}

.foto__album > * {
	@include truncate(55%)

	display: inline-block;
	vertical-align: middle;
}


.foto__album-link {	
	margin: 0.3em 0.2em;
	padding: 0.5em 0.7em;
	border: 1px solid $light-dark;

	&:hover {
		opacity: 1;
	}
}


.foto__titulo {
	font-size: ms(10);
	text-transform: capitalize;
}



.foto__descricao {

	p {
		margin: 1.3em 0;
		line-height: 1.6;

		@media (min-width: 600px) {
			line-height: 1.8;
			font-size: ms(4);
		}

	}

	a {
		border-bottom: 2px solid $acent;
		&:hover{
			color: $acent-strong;
			transition: 0.2s;
		}
	}
}


