


.album {
	color: $white;
	margin: 0 auto;
	.middot-spacer {
		margin: 0 1em;
	}
}



.album__hero {
	
		
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	
	// background-image: url('../img/landscape.jpg');

	height: 30em;
	text-shadow: 0 1px 1px #000;
	
	
	
	@media (min-width: 650px) {
		height: 35em;
	}
		

	.social-media-share__text {
		display: none;
	}

	.container {
	
		
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	    align-content: flex-start;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;



	    @media (min-width: 650px) {
	    	width: 70%;
	    }

	    @media (min-width: 1100px) {
	    	width: 60%;
	    }
	}

}




.album__titulo {
	letter-spacing: 2px;
	font-weight: $fw-regular;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 0.5em;
	text-transform: capitalize;
	// letter-spacing: -0.5px !important;

	@media (min-width: 1200px) {
		font-size: ms(14);
		
	}
}

.album__descricao {
	text-align: center;
	@media (min-width: 600px) {
		font-size: ms(4);
	}
}

.album__detalhe {
	margin: 2em 0 2em;

	.icon {
		with: 18px;
		height: 18px;
		margin-right: 0.5em;
	}
}



