footer {
	background-color: $black;
	// padding-top: $section-padding;
	padding: $section-padding*2 0;
}


.footer__wrapper {
	color: $white;
}


.footer__word{
	opacity: 0.5;
	text-align: center;

	a { 
		color: $white;
		padding-bottom: 1px;
		border-bottom: 0.5px solid $white;
	}
}


.footer__social-icons {
	padding: 2em 0;


	&:hover {
		a {
		opacity: $is-inactive;

			
		} 
	}

	a {
		transition: 0.3s;
		margin: 0 0.5em;
		opacity: 0.7;

		&:hover {
			opacity: $is-active;
		}
		
		img {
			width: 1.5em;
			height: 1.5em;
		}
	}
}





// Desktop Version

.footer__wrapper--desktop {
	 
	.site-logo--footer {
		width: 10em;
		height: auto;
	}


	.footer__word {
		text-align: left;
	}

	.footer__word--dmca {
		margin-top: 1em;
	}

	

	.footer__left-block,
	.footer__right-block {
		margin-top: 2em;
	}

	.footer__left-block {
		width: 50%;

	}

	.footer__right-block {
		// width: 50%;
		// padding-left: 20%;
		// position: relative;
	}

		.footer__social-midia {
			width: 100%;
			justify-content: flex-end;
		}

		.social-midia__block {
			width: 35%;
			padding: 0 0.3em;
			margin: 0.5em 0.5em;
			display: inline-block;
		}


		.social-midia__icon,
		.social-midia__nome {
			vertical-align: middle;
			display: inline-block;
			color: $snow-flake;
			opacity: 0.8;
		}

		.social-midia__icon {
			width: 1.5em;
			height: auto;
			// opacity: 0.9;
		}

		.social-midia__nome {
			margin-left: 0.5em;
			letter-spacing: 0.3px;
			font-size: ms(4);
			font-weight: $fw-medium;
			font-family: $sans-serif;
		}

		.social-midia__link {
			opacity: 0.5;
			display: block;
			transition: 0.3s;
			margin-left: 2.35em;

			&:hover {
				opacity: 1;
			}
		}

}



@media (max-width: 659px) {
	.footer-desktop {
		display: none;
	}
}

@media (min-width: 659px) {
	.footer-mobile {
		display: none;
	}
}