header {
	width:100%;
	height: auto;
	color: $white;
	background-color: $black;
	padding: 2em 0;	
}


.menu-header {
	display: flex;
	align-items: center;
	justify-content: center;

	li {
		flex: 0 0 auto;
		list-style: none;
	}

	
}

.menu-header--side-nav {
	align-items: flex-start;
	// justify-content: flex-start;
	flex-direction: column;
	.menu__link {
		margin-bottom: 0.7em;		
	}
	
}




.menu__logo {
	margin-left: 0; 
	margin-right: auto; /*applied only to the right*/
	& img {
		overflow: hidden;
		filter: brightness(100%);
	}
}

.menu__link {
	color: $white;
	font-size: ms(3);
	font-family: $sans-serif;
	letter-spacing: 0.2px;
	margin: 0 0.7em;

	// &:last-child(){
	// 	margin: 0 0;
	// }
	
	@media (min-width: 550px) {
		font-size: ms(4);
	}

	a {
		text-decoration: none;
	}

	&.is-inactive {
		opacity: $is-inactive;
		&:hover {
			opacity: $is-active;
			color:$white;
		}
	}
}


.menu__button {
	color: $acent;
	// font-weight: bold;
	padding: 0.5em 0.9em;
	border: 2px solid $acent;

	transition: ease-in-out 0.4s;
	transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
	&.is-active {
		box-shadow: inset 400px 0 0 0 $acent;
	}
	&:hover {
		color: $black;
		box-shadow: inset 400px 0 0 0 $acent;
	}
}


.header-menu {
	width: 1.5em;
	height: auto;
}

.hamburguer {
	cursor: pointer;
	transition: 0.3s;
	
	&:active {
		opacity: 0.5;
	}
}

@media (max-width: 799px) {
	.header--mobile {
		display: none;
	}
}

@media (min-width: 799px) {
	.header--desktop {
		display: none;
	}
}