#justified-grid {
	// margin: 0 auto;
	padding-bottom: $section-padding;

	@media (min-width: 550px) {
		img {
			transition: .3s;
				filter: brightness(100%);
			&:hover {
				filter: brightness(80%);
			}
		}
	}

	
}
