
.nav-categoria {
	color: $white;
	font-size: ms(3); 
	letter-spacing: 0.5px;
	font-weight: $fw-bold;
	font-family: $sans-serif;
	
	@media (min-width: 550px) {
		font-size: ms(4);
	}

	.pulse-awareness {
		animation: pulse2 1.5s infinite;
	}

	.icon {
		width: 26px;
		height: 26px;
	}
}

.nav-categoria__left {
	width: 40%;
	cursor: pointer;
	@include truncate(90%);
	
}
.nav-categoria__left,
.nav-categoria__right {
	span {
		margin: 0 0.5em;
		opacity: $is-inactive;
	}
}



				// .nav-categoria__left,
				// .nav-categoria__right--full-opacity {
				// 	transition: 0.3s;
				// 	opacity: $is-inactive;

				// 	&:hover {
				// 		opacity: 1;
				// 	}
				// }





				.nav-categoria__left > *,
				.nav-categoria__right > * {
					display: inline;
					vertical-align: middle;
				}

.nav-categoria__ordem {
	transition: 0.3s;
	opacity: $is-inactive;

	&.is-active {
		opacity: 1 !important;
		color: $acent;
	}

	&:hover {
		color: $acent;
		opacity: 1;
	}	
}


.nav-categoria__nome {
	font-family: $sans-serif;
}


.nav-categoria--simple {
	padding: $section-padding+-1 0;
}

.nav-categoria--double-padding {
	padding: $section-padding+-1 0;
}





// CSS Animation already has
// a pulse animation
// To avoid conflict, this
// one is named "pulse2"
@keyframes pulse2 {
  0% {
	color: $acent-strong;
  }
  100% {
    color: $acent;
  }
}
