.pagination {
	color: $white;
	font-size: ms(7);
	font-weight: bold;
	font-family: $sans-serif;
	padding-bottom: 2em;
	li {
		display: inline-block;
	}

	a, .active {
		
		@media (min-width: 320px) {
			padding: 0 0.1em;
		}

		@media (min-width: 500px) {
			padding: 0 0.2em;
		}
	}

	.number {
		opacity: 0.5;
		transition: 0.5s;
		&:hover {
			opacity: 1;
		}
	}

	.icon {

			margin-right: 0.6em;
			margin-left: 0.4em;

	}

	img {
		width: 10px;
	}

	.active {
		opacity: 1;
		color: $acent;
		padding-bottom: 0.18em;
		border-bottom: 3px solid $acent;
		border-top: 3px solid $acent;
	}


	.disabled {
		opacity: 0.5;
	}

}